[Unit]
Description=Set usb0 interface up
After=network-oneline.target
After=NetworkManager.service
After=gt-start.service
Before=disable-ipv6-usb0.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli con up usb0
RemainAfterExit=true

[Install]
WantedBy=multi-user.target