[Unit]
Description=Announce linux bootup with morse code "L" on GPIO 22 light
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=flock /usr/local/bin/led-morse.sh /usr/local/bin/led-morse.sh "L"
RemainAfterExit=yes

[Install]
WantedBy=basic.target

