[Unit]
Description=slcan daemon
After=dev-ttyAMA0.device
BindsTo=dev-ttyAMA0.device
Documentation=man:slcand(8)
After=network-pre.target
Before=network.target
Wants=network.target

[Service]
ExecStart=/usr/local/bin/setup-slcan.sh
ExecStop=ip link set can0 down

